<head>
    <title>Genderkoekje</title>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="app">

    <div ng-controller="controller as ctrl" ng-cloak>

        <div class="figure">
            <div class="image">

                <div class="outside-clicker" ng-class="{'outside-clicker-active': ctrl.widget}"
                    ng-click="ctrl.widget = null"></div>

                <img id="figure" class="img" src="assets/figure.png">

                <div class="widgets" same-dimensions-as-id="#figure">

                    <div class="widget names-widget-location border-radius-circle"
                        ng-class="{'widget-top names-widget-location-open': ctrl.widget == 'names', 'widget-bottom': ctrl.widget && ctrl.widget != 'names'}">
                        <div class="widget-scale border-radius-circle"
                            ng-class="{'widget-small': ctrl.widget != 'names'}">
                            <div class="border-radius-circle"
                                ng-class="{'pulsate': ctrl.widget != 'names' && ctrl.profile.pronouns.size == 0, 'animation-pause': ctrl.widget != null}">
                                <div class="circular-container">
                                    <div ng-if="ctrl.widget != 'names'" class="widget-icon names-widget-icon"
                                        ng-click="ctrl.widget = 'names'">
                                    </div>

                                    <div class="shapes-container" ng-if="ctrl.widget == 'names'">
                                        <div class="shapes">
                                            <div class="top-left"></div>
                                            <div class="top-right"></div>
                                            <div class="bottom-left"></div>
                                            <div class="bottom-right"></div>
                                        </div>
                                        <div dynamic-padding-centering>
                                            <div class="name">
                                                <div class="field">
                                                    <input class="name-field" ng-class="{'filled': ctrl.profile.name}"
                                                        ng-model="ctrl.profile.name" placeholder="Anoniem">
                                                </div>
                                            </div>
                                            <div class="pronouns">
                                                <div class="text-choices">
                                                    <div ng-repeat="pronoun in ctrl.pronouns" class="choice"
                                                        ng-class="{'selected': ctrl.profile.pronouns.has(pronoun)}"
                                                        ng-click="ctrl.profile.pronouns.has(pronoun) ? ctrl.profile.pronouns.delete(pronoun) : ctrl.profile.pronouns.add(pronoun)">
                                                        {{pronoun}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget identity-widget-location border-radius-circle"
                        ng-class="{'widget-top identity-widget-location-open': ctrl.widget == 'identity', 'widget-bottom': ctrl.widget && ctrl.widget != 'identity'}">
                        <div class="widget-scale border-radius-circle"
                            ng-class="{'widget-small': ctrl.widget != 'identity'}">
                            <div class="border-radius-circle"
                                ng-class="{'pulsate': ctrl.widget != 'identity' && ctrl.profile.identity.x == null, 'animation-pause': ctrl.widget != null}">
                                <div class="circular-container">
                                    <div ng-if="ctrl.widget != 'identity'" class="widget-icon identity-widget-icon"
                                        ng-click="ctrl.widget = 'identity'">
                                    </div>

                                    <div ng-if="ctrl.widget == 'identity'">
                                        <div class="plot-container">
                                            <div class="plot">
                                                <div class="graph border-radius-circle">
                                                    <div class="pointer-events-none">
                                                        <div class="axes border-radius-circle">
                                                            <div class="vertical"></div>
                                                            <div class="horizontal"></div>
                                                        </div>
                                                        <div class="labels labels-sides">
                                                            <div class="left">Man</div>
                                                            <div class="right">Vrouw</div>
                                                            <div class="top">Feminien</div>
                                                            <div class="bottom">Masculien</div>
                                                        </div>
                                                        <div class="selection-axes border-radius-circle"
                                                            ng-if="ctrl.ui.plot.x != null">
                                                            <div class="vertical"
                                                                ng-style="{'width': ctrl.ui.plot.x + '%'}">
                                                            </div>
                                                            <div class="horizontal"
                                                                ng-style="{'height': ctrl.ui.plot.y + '%'}">
                                                            </div>
                                                        </div>
                                                        <div class="dot" ng-if="ctrl.profile.identity.x != null"
                                                            ng-style="{'top': ctrl.profile.identity.y + '%', 'left': ctrl.profile.identity.x + '%'}">
                                                        </div>
                                                    </div>
                                                    <div class="pointer-events border-radius-circle"
                                                        ng-mousemove="ctrl.plotMouseover($event)"
                                                        ng-mouseleave="ctrl.plotMouseleave($event)"
                                                        ng-click="ctrl.plotMouseclick($event, ctrl.profile.identity)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget expression-widget-location border-radius-circle"
                        ng-class="{'widget-top expression-widget-location-open': ctrl.widget == 'expression', 'widget-bottom': ctrl.widget && ctrl.widget != 'expression'}">
                        <div class="widget-scale border-radius-circle"
                            ng-class="{'widget-small': ctrl.widget != 'expression'}">
                            <div class="border-radius-circle"
                                ng-class="{'pulsate': ctrl.widget != 'expression' && ctrl.profile.expression.size == 0, 'animation-pause': ctrl.widget != null}">
                                <div class="circular-container">
                                    <div ng-if="ctrl.widget != 'expression'" class="widget-icon expression-widget-icon"
                                        ng-click="ctrl.widget = 'expression'">
                                    </div>

                                    <div class="shapes-container" ng-if="ctrl.widget == 'expression'">
                                        <div class="shapes">
                                            <div class="top-left"></div>
                                            <div class="top-right"></div>
                                            <div class="bottom-left"></div>
                                            <div class="bottom-right"></div>
                                        </div>
                                        <div class="clothing" dynamic-padding-centering>
                                            <div class="image-choices">
                                                <img ng-repeat="clothingItem in ctrl.clothingItems" class="choice"
                                                    ng-class="{'selected': ctrl.profile.expression.has(clothingItem)}"
                                                    src="assets/clothing-item-{{clothingItem}}.png" draggable="false"
                                                    ng-click="ctrl.profile.expression.has(clothingItem) ? ctrl.profile.expression.delete(clothingItem) : ctrl.profile.expression.add(clothingItem)">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget sexuality-widget-location border-radius-circle"
                        ng-class="{'widget-top sexuality-widget-location-open': ctrl.widget == 'sexuality', 'widget-bottom': ctrl.widget && ctrl.widget != 'expression'}">
                        <div class="widget-scale border-radius-circle"
                            ng-class="{'widget-small': ctrl.widget != 'sexuality'}">
                            <div class="border-radius-circle"
                                ng-class="{'pulsate': ctrl.widget != 'sexuality' && ctrl.profile.sexuality.x == null, 'animation-pause': ctrl.widget != null}">
                                <div class="circular-container">
                                    <div ng-if="ctrl.widget != 'sexuality'" class="widget-icon sexuality-widget-icon"
                                        ng-click="ctrl.widget = 'sexuality'">
                                    </div>

                                    <div ng-if="ctrl.widget == 'sexuality'">
                                        <div class="plot-container">
                                            <div class="plot">
                                                <div class="graph border-radius-circle">
                                                    <div class="pointer-events-none">
                                                        <div class="axes">
                                                            <div class="box border-radius-soft"></div>
                                                        </div>
                                                        <div class="labels labels-corners">
                                                            <div class="top-left">Mannen</div>
                                                            <div class="top-right">Alle<br>genders</div>
                                                            <div class="bottom-left">Geen<br>aantrekking</div>
                                                            <div class="bottom-right">Vrouwen</div>
                                                        </div>
                                                        <div class="selection-axes border-radius-soft"
                                                            ng-if="ctrl.ui.plot.x != null">
                                                            <div class="vertical"
                                                                ng-style="{'width': ctrl.ui.plot.x + '%'}"></div>
                                                            <div class="horizontal"
                                                                ng-style="{'height': ctrl.ui.plot.y + '%'}"></div>
                                                        </div>
                                                        <div class="dot" ng-if="ctrl.profile.sexuality.x != null"
                                                            ng-style="{'top': ctrl.profile.sexuality.y + '%', 'left': ctrl.profile.sexuality.x + '%'}">
                                                        </div>
                                                        <div class="center"></div>

                                                    </div>
                                                    <div class="pointer-events border-radius-soft"
                                                        ng-mousemove="ctrl.plotMouseover($event)"
                                                        ng-mouseleave="ctrl.plotMouseleave($event)"
                                                        ng-click="ctrl.plotMouseclick($event, ctrl.profile.sexuality)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget physical-widget-location border-radius-circle"
                        ng-class="{'widget-top physical-widget-location-open': ctrl.widget == 'physical', 'widget-bottom': ctrl.widget && ctrl.widget != 'physical'}">
                        <div class="widget-scale border-radius-circle"
                            ng-class="{'widget-small': ctrl.widget != 'physical'}">
                            <div class="border-radius-circle"
                                ng-class="{'pulsate': ctrl.widget != 'physical' && ctrl.profile.physical.size == 0, 'animation-pause': ctrl.widget != null}">
                                <div class="circular-container">
                                    <div ng-if="ctrl.widget != 'physical'" class="widget-icon physical-widget-icon"
                                        ng-click="ctrl.widget = 'physical'">
                                    </div>

                                    <div class="shapes-container" ng-if="ctrl.widget == 'physical'">
                                        <div class="shapes">
                                            <div class="top-left"></div>
                                            <div class="top-right"></div>
                                            <div class="bottom-left"></div>
                                            <div class="bottom-right"></div>
                                        </div>
                                        <div class="physical" dynamic-padding-centering>
                                            <div class="text-choices">
                                                <div ng-repeat="physicalItemGroup in ctrl.physicalItemGroups"
                                                    class="choice-group">
                                                    <div ng-repeat="physicalItem in physicalItemGroup" class="choice"
                                                        ng-class="{'selected': ctrl.profile.physical.has(physicalItem)}"
                                                        ng-click="ctrl.profile.physical.has(physicalItem) ? ctrl.profile.physical.delete(physicalItem) : ctrl.profile.physical.add(physicalItem)">
                                                        {{physicalItem}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div ng-if="false" ng-switch="ctrl.widget" ng-cloak>

        <div ng-switch-when="welcome">
            <h1>Welkom!</h1>

            <button ng-click="ctrl.widget = 'names'">Start</button>
        </div>

        <div ng-switch-when="names">
            <h1>Naam en voornaamwoorden</h1>

            <button ng-click="ctrl.widget = 'identity'">Volgende</button>
        </div>

        <div ng-switch-when="identity">
            <h1>Identiteit</h1>

            <button ng-click="ctrl.widget = 'expression'">Volgende</button>
        </div>

        <div ng-switch-when="expression">
            <h1>Expressie</h1>

            <button ng-click="ctrl.widget = 'sexuality'">Volgende</button>
        </div>

        <div ng-switch-when="sexuality">
            <h1>Seksualiteit en romantiek</h1>

            <button ng-click="ctrl.widget = 'physical'">Volgende</button>
        </div>

        <div ng-switch-when="physical">
            <h1>Fysiek</h1>

            <button ng-click="ctrl.widget = 'result'">Volgende</button>
        </div>

        <div ng-switch-when="result">
            <h1>Resultaat</h1>

            <div>Pronouns: {{ctrl.Array.from(ctrl.profile.pronouns)}}</div>

            <div>Clothing items: {{ctrl.Array.from(ctrl.profile.expression)}}</div>

            <div>Physical items: {{ctrl.Array.from(ctrl.profile.physical)}}</div>

            <div>Rest profile: {{ctrl.profile}}</div>

            <button ng-click="ctrl.widget = 'welcome'">Opnieuw</button>
        </div>

    </div>

    </div>

    <script src="libs/angular.min.js"></script>
    <script src="app.js"></script>

</body>

</html>